body {
  background-image: url(../images/my_pic.png);
  font-family: "Oswald", sans-serif;
  padding: 20px;
}
li {
  list-style: none;
}
.hero-title {
  color: #000000;
}
.hero {
  display: flex;
}
.wiki {
  text-align: right;
  font-size: 16px;
  line-height: 0.6;
}
.line {
  background-color: hsl(0, 0%, 55%);
  height: 2px;
}
.info-title {
  color: red;
}
.info-main {
  color: red;
}
.PHP-wiki {
  text-align: right;
  font-size: 16px;
  line-height: 0.6;
  color: rgb(46, 141, 46);
  margin-top: 70px;
}
.PHP-text {
  font-size: 16px;
  color: rgb(46, 141, 46);
}
.PHP-title {
  display: flex;
  justify-content: center;
  color: rgb(46, 141, 46);
}
.PHP-title::after {
  content: "";
  position: absolute;
  width: 170px;
  height: 4px;
  border-radius: 2px;
  background-color: rgb(46, 141, 46);

  display: block;
  margin: 50px;
}
.PHP-title::before {
  content: "";
  position: absolute;
  width: 170px;
  height: 4px;
  border-radius: 2px;
  background-color: rgb(46, 141, 46);

  display: block;
  margin: -15px;
}
.img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
